#logo{
}

body{
    background-color: #ebeff5;
}

#total-orders{
    background-color: #D17CC5;
}

#orders-delivered{
    background-color: #82D17C;
}

#orders-pending{
    background-color: #D1D17C;
}

#orders-out-for-delivery{
    background-color: #9CD17C;
}

#orders-cancelled{
    background-color: #D17C7C;
}

.text-white{
    color: white;
}