<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Login</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<style>
    .bs-example{
        margin: 20px;
    }
</style>
</head>
<body>
<div class="container py-5">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="card border-secondary">
                        <div class="card-header">
                            <h3 class="mb-0 my-2">User Login</h3>
                        </div>
                        <div class="card-body">
                            <form class="form" role="form" method="POST" action="" novalidate>
                                {% csrf_token %}
                                <div class="input-group mb-3">
							        <input type="text" name="username" placeholder="Username" class="form-control">
						        </div>
                                <div class="input-group mb-2">
                                    <input type="password" name="password" placeholder="Password" class="form-control" >
                                </div>
                                {% if messages %}
                                    <ul class="messages">
                                        {% for message in messages %}
                                            <p{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</p>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                                <div class="form-group">
                                    <button type="submit" class="btn btn-success btn-lg float-right">Login</button>
                                </div>
                                <div class="mt-4">
                                    <div class="d-flex justify-content-center links">
                                        Don't have an account? <a href="{% url 'register' %}" class="ml-2">Create Account</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>