<nav class="navbar navbar-inverse navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="{% url 'home' %}">Django CRUD</a>
    </div>
    <ul class="nav navbar-nav">
        {% if request.user.is_staff %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'product' %}">Products</a>
            </li>
            <li class="nav-item dropdown dropleft">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img class="rounded" src="{{request.user.customer.profile_pic.url}}" height="25" width="25" >
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <p class="dropdown-item">Logged in as <br> <b> {{ request.user }} </b></p>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'profile_settings' %}">Settings</a>
                <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                </div>
            </li>
            </ul>
        {% else %}
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item dropdown dropleft">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img class="rounded" src="{{request.user.customer.profile_pic.url}}" height="25" width="25" >
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <p class="dropdown-item">Logged in as <br> <b> {{ request.user }} </b></p>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'profile_settings' %}">Settings</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                    </div>
                </li>
            </ul>
        {% endif %}
  </div>
</nav>






