{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Create Account</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<style>
    .bs-example{
        margin: 20px;
    }
</style>
</head>
<body>
<div class="container py-5">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="card border-secondary">
                        <div class="card-header">
                            <h3 class="mb-0 my-2">User Registration</h3>
                        </div>
                        <div class="card-body">
                            <form class="form" role="form" method="POST" action="" novalidate>
                                {% csrf_token %}
                                {% for field in user_register_form %}
                                {{ field|as_crispy_field }}
                                {% endfor %}
                                <div class="form-group">
                                    <button type="submit" class="btn btn-success btn-lg float-right">Register</button>
                                </div>
                                <div class="mt-4">
                                    <div class="d-flex justify-content-center links">
                                        Already have an account? <a href="{% url 'login' %}" class="ml-2">Login</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>



{#<h2>Sign up Form</h2>#}
{#<form method="post">#}
{#  {% csrf_token %}#}
{#  {% for field in user_register_form %}#}
{#    <p>#}
{#      {{ field.label_tag }}<br>#}
{#      {{ field }}#}
{#      {% if field.help_text %}#}
{#        <small style="color: grey">{{ field.help_text }}</small>#}
{#      {% endif %}#}
{#      {% for error in field.errors %}#}
{#        <p style="color: red">{{ error }}</p>#}
{#      {% endfor %}#}
{#    </p>#}
{#  {% endfor %}#}
{#  <button type="submit">Sign up</button>#}
{#</form>#}
