  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="{% url 'home' %}" class="brand-link">
      <span class="brand-text font-weight-light">Django CRUD</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
{#        <div class="image">#}
{#          <img src="{{request.user.customer.profile_pic.url}}" class="img-circle elevation-2" alt="User Image">#}
{#        </div>#}
        <div class="info">
          <a href="#" class="d-block">{{ request.user.get_full_name }}</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
            {% if request.user.is_staff %}
                <li class="nav-item">
                    <a href="{% url 'home' %}" class="nav-link">
                        <i class="nav-icon fas fa-chart-line"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'customers' %}" class="nav-link">
                        <i class="nav-icon fas fa-users"></i>
                        <p>Customers</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'admin_order_list' %}" class="nav-link">
                        <i class="nav-icon fas fa-cart-arrow-down"></i>
                        <p>Orders</p>
                    </a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a href="{% url 'home' %}" class="nav-link">
                        <i class="nav-icon fas fa-chart-line"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'order_list' %}" class="nav-link">
                        <i class="nav-icon fas fa-cart-arrow-down"></i>
                        <p>My Orders</p>
                    </a>
                </li>
            {% endif %}
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>